/*┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
  ┃                Global                     ┃
  ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛*/
body {
  background-color: var(--primary);
  color: var(--text-color);
  scroll-behavior: smooth;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

main {
  margin-top: 4px;
  margin: 0 auto;
  max-width: 70rem;
  color: var(--text-color);
  margin-bottom: 4px;
  padding-bottom: 40px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
  ┃                Variables                  ┃
  ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛*/
:root {
  /* Colors */
  --primary: #222831;
  --secondary: #096e8a;
  --section-color: rgba(0, 0, 0, 0.3);
  --text-color: white;
  --header-color: #1a1e26;
  --footer-color: #1a1e26;
}

/*┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
  ┃                 Typography                ┃
  ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛*/
h1,
h2,
h3 {
  font-family: "Prompt", sans-serif;
  font-weight: 500;
  font-style: normal;
}

p {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  letter-spacing: +0.5px;
  line-height: 24px;
}

.headline-text {
  font-family: "Prompt", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 32px;
  letter-spacing: 0px;
  line-height: 40px;
}

.title-text {
  font-family: "Prompt", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 22px;
  letter-spacing: 0px;
  line-height: 28px;
}

.label-text {
  font-family: "Prompt", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 14px;
  letter-spacing: +0.1px;
  line-height: 20px;
}

/*┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
  ┃                Header                     ┃
  ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛*/
header {
  background-color: var(--header-color);
  box-shadow: 0 4px 8px rgba(13, 86, 169, 0.1);
  height: 120px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  filter: drop-shadow(0 0 0.1rem #61dafb);
  margin-bottom: 10px;
}

/* Container inside the header */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  max-width: 69rem;
  margin: 0 auto;
}

.hamburger-menu-button,
.side-menu {
  display: none;
}

.logo-container {
  display: flex;
  align-items: center;
  border: solid white 1px;
  border-radius: 4px;
  height: 40px;
  padding: 5px;
}

.logo-container img {
  width: 40px;
  height: 40px;
}

/* Logo text */
.logo-container p {
  font-family: "Gruppo", sans-serif;
  font-weight: 700;
  color: #61dafb;
  padding-bottom: 5px;
  font-size: 20px;
  transition: ease all 0.5s;
}

.logo-container:hover {
  color: #61dafb;
  font-size: 32px;
  border-radius: 4px;
  border: 1px solid #61dafb;
  transition: ease-in-out all 0.5s;
  transform: scale(1.1);
}

.login-btn,
.logout-btn {
  color: white;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 4px;
  border: solid 1px var(--secondary);
  width: auto;
  padding: 2px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: background-color 0.4s ease;
}

.login-btn:hover,
.logout-btn:hover {
  transform: scale(1.1);
  transition: ease all 0.5s;
  border-color: #007bff;
}

.logout-btn {
  width: auto;
}

.account {
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.profile-info img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.profile-picture:hover {
  transition: ease all 0.5s;
  transform: scale(1.1);
}

.profile-picture-anchor:hover {
  cursor: pointer;
}

/* Loading spinner */
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  z-index: 9999;
}

.spinner {
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-left-color: #096e8a;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
  ┃          Hero section/Carousel            ┃
  ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛*/
.hero-carousel {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 4px;
  margin-bottom: 30px;
  box-shadow: 10px 0 10px rgba(0, 0, 0, 0.1);
  z-index: 0;
  filter: drop-shadow(0 0 0.1rem #61dafb);
}

.carouselImg {
  width: 100%;
  height: 600px;
}

.carousel-container {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-item {
  flex: 0 0 100%;
  position: relative;
}

.carousel-text {
  position: absolute;
  bottom: 30px;
  left: 20px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.carousel-text h1,
.carousel-text h2 {
  font-size: 57px;
  letter-spacing: -0.25px;
  line-height: 64px;
}

.carousel-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.carousel-nav button {
  background-color: rgba(79, 75, 75, 0.5);
  border: none;
  color: #333;
  cursor: pointer;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  height: 80px;
}

.carousel-nav button:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

/*┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
  ┃            Search/sort section            ┃
  ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛*/
/* Container for all sections */

.search {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 20px;
  background-color: #096e8a;
  border-radius: 8px;
  margin-bottom: 20px;
}

.search-container {
  width: 50%;
  display: flex;
}

#search-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.sort-filter-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.sort,
.filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
}

select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 13px;
}

.sort > label,
.filter > label {
  width: 100%;
}

.sort > select,
.filter > select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 13px;
}

#search-button {
  padding: 10px 20px;
  background-color: transparent;
  border: solid rgb(214, 214, 214) 1px;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  height: 40px;
  margin-left: 4px;
}

/*┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
  ┃          Grid section/Blog feed           ┃
  ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛*/
/* Grid section  */
.grid-section {
  margin: 0 auto;
  transition: ease all 0.5s;
  justify-content: center;
  gap: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    "item1 item1 item1 item2 item2 item2"
    "item3 item3 item4 item4 item5 item5"
    "item6 item6 item7 item7 item8 item8"
    "item9 item9 item9 item9 item10 item10"
    "item11 item11 item12 item12 item12 item12";
  grid-gap: 20px;
  margin: 0 auto;
  max-width: 70rem;
  margin-bottom: 50px;
}

.grid-container:hover {
}
.grid-item:nth-child(1) {
  grid-area: item1;
}
.grid-item:nth-child(2) {
  grid-area: item2;
}
.grid-item:nth-child(3) {
  grid-area: item3;
}
.grid-item:nth-child(4) {
  grid-area: item4;
}
.grid-item:nth-child(5) {
  grid-area: item5;
}
.grid-item:nth-child(6) {
  grid-area: item6;
}
.grid-item:nth-child(7) {
  grid-area: item7;
}
.grid-item:nth-child(8) {
  grid-area: item8;
}
.grid-item:nth-child(9) {
  grid-area: item9;
}
.grid-item:nth-child(10) {
  grid-area: item10;
}
.grid-item:nth-child(11) {
  grid-area: item11;
}
.grid-item:nth-child(12) {
  grid-area: item12;
}

.grid-section img {
  border-radius: 4px;
  object-fit: cover;
  max-height: 300px;
}

.grid-item img:hover {
  transition: ease all 0.5s;
}

.grid-item {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  overflow: hidden;
  transition: ease all 0.5s;
  min-height: 300px;
  justify-content: space-around;
}

.grid-item:hover {
  transition: all 1s ease;
  border: solid var(--secondary) 1px;
}

.grid-text {
  bottom: 20px;
  left: 20px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  background-color: var(--section-color);
  padding: 10px;
  height: 130px;
}

/* Grid container description text */
.grid-container p {
  font-family: "Nunito sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  letter-spacing: +0.5px;
  line-height: 24px;
}

.grid-container h2 {
  font-family: "prompt", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 22px;
  letter-spacing: 0px;
  line-height: 28px;
}

.author-date {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: white;
  margin-bottom: 10px;
}

.label-text,
button {
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
}

.article-text h2 {
  margin: 10px 0 0;
  font-size: 18px;
  color: white;
}

/*┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
  ┃               Buttons                     ┃
  ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛*/

button {
  color: black;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 4px;
  border: solid 1px var(--secondary);
  width: auto;
  padding: 2px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: background-color 0.4s ease;
  background-color: transparent;
}

button:hover {
  transform: scale(1.1);
  transition: ease all 0.5s;
  border-color: #007bff;
}

button:focus {
  color: var(--text-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

button:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  padding: 10px 15px;
  margin: 0 5px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: #096e8a;
}

.pagination button:hover {
  background-color: #0056b3;
}

.pagination button:disabled {
  background-color: #ccc;
  border-color: #ccc;
  cursor: not-allowed;
}

.pagination button.current-page {
  background-color: #0056b3;
  border-color: #0056b3;
  color: #fff;
  cursor: default;
}

/*┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
  ┃                 Forms                     ┃
  ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛*/
/* Main Form Element Styles */
input,
textarea,
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0 16px;
  display: inline-block;
  border: 1px solid var(--secondary);
  border-radius: 4px;
  box-sizing: border-box;
  background-color: white;
  color: var(--primary);
  font-family: "Nunito Sans", sans-serif;
  transition: filter 0.3s ease, box-shadow 0.3s ease;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  border-color: var(--primary);
  filter: drop-shadow(0 0 0.2rem #61dafb);
}

label {
  color: var(--text-color);
  padding: 5px;
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

::placeholder {
  color: var(--secondary);
  opacity: 1;
  font-style: italic;
}

/*┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
  ┃      Individual blog post section         ┃ 
  ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛*/

.blog-container {
  margin: 0 auto;
  max-width: 60rem;
  padding-left: 20px;
  padding-right: 20px;
  min-height: 400px;
}

.blog-container div {
  margin-bottom: 20px;
}

.blog-image {
  width: 100%;
  height: 600px;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 10px;
}

.article-description {
  white-space: pre-wrap;
}

.blog-meta {
  display: flex;
  font-size: 14px;
  font-weight: 700;
  margin-left: 10px;
  margin-bottom: 60px;
}

.blog-meta,
.published-date,
.blog-category,
.share-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  background-color: transparent;
  border-radius: 4px;
  min-height: 30px;
  margin-right: 10px;
}

.published-date {
  margin-right: 10px;
  color: #ffffff;
  border: #004d40 1px solid;
}

.blog-category {
  margin-right: 10px;
  height: 30px;
  border: #004d40 1px solid;
}

.share-buttons {
  margin-left: auto;
  background-color: transparent;
  border: solid white 1px;
}

.share-buttons img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  cursor: pointer;
  transition: ease all 0.5s;
}

.share-buttons a:hover {
  transition: ease all 0.5s;
  transform: scale(1.1);
}

/* Author section */
.author {
  background-color: #181313;
  padding: 20px;
  border-radius: 8px;
  max-width: 600px;
  margin: 0 auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 60px;
}

.author-details {
  display: flex;
  align-items: center;
}

.author-picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.author-text {
  flex: 1;
}

.author-name {
  margin: 0;
  font-size: 1.5em;
  color: #ffffff;
}

.author-bio {
  margin: 10px 0 0;
  color: #666;
  line-height: 1.4;
}

/* Continue Reading Section Styles */
.continue-reading {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  max-width: 800px;
  margin: 0 auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 70px;
  margin-bottom: 70px;
}

.continue-reading h2 {
  font-size: 1.8em;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.continue-reading-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.continue-reading-item {
  flex: 1;
  text-align: center;
}

.continue-reading-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.continue-reading-btn {
  display: inline-block;
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.continue-reading-btn:hover {
  background-color: #0056b3;
}

/*┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
  ┃                  dividers                 ┃
  ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛*/

/* Divider */
.divider {
  height: 4px;
  width: 100%;
  background-color: #fff;
  border-radius: 4px;
  margin: 20px 0;
}

/*┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
  ┃               Login section               ┃
  ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛*/
/* Container for the login form */
.login-container {
  color: rgb(255, 255, 255);
  border-radius: 4px;
  box-shadow: 0 0 10px var(--secondary);
  width: 400px;
  margin: 0 auto;
  margin-top: 100px;
  padding: 20px;
  font-family: "Prompt", sans-serif;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form label {
  margin-top: 10px;
  margin-bottom: 5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.direction-column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

/*┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
  ┃               Register section            ┃
  ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛*/

.register-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px var(--secondary);
  margin-top: 100px;
}

.register-container h2 {
  color: #ffffff;
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.register-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.back-to-dashboard {
  text-align: center;
  margin: 20px 0;
}

.back-to-dashboard-link {
  display: inline-flex;
  align-items: center;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  font-size: 1em;
  transition: background-color 0.3s ease, transform 0.3s ease;
  border: solid white 1px;
}

.back-to-dashboard-link:hover {
  box-shadow: 0 0 10px var(--secondary);
  transform: scale(1.05);
}

.dashboard-icon {
  margin-right: 10px;
  width: 24px;
  height: 24px;
}

#profile-picture-preview {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: 20px;
  margin-bottom: 40px;
  display: none;
}

#registerbutton {
  padding: 10px 20px;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  border: solid white 1px;
}

#registerbutton:hover {
  box-shadow: 0 0 10px var(--secondary);
}

/*┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
  ┃            Dashboard section              ┃
  ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛*/
.profile-picture {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  display: block;
}

.profile-picture img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.dashboard-container {
  background-color: var(--secondary);
  padding: 20px;
  border-radius: 8px;
  margin: 0 auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dashboard-greeting {
  text-align: center;
  margin-bottom: 20px;
}

.greeting-text {
  font-size: 1.2em;
  color: #666;
  margin-top: 5px;
}

.dashboard-features-section {
  background-color: var(--section-color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dashboard-features {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.feature-btn {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border: solid white 1px;
  color: #fff;
  border-radius: 4px;
  text-decoration: none;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.feature-btn:hover {
  background-color: var(--secondary);
}

.feature-btn .feature-icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}

.dashboard-latest-blog-posts {
  margin-top: 20px;
}

.articles-dashboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.blog-post {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
}

.blog-post h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.blog-post img {
  max-width: 100%;
  max-height: 150px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.blog-post p {
  margin-bottom: 10px;
}

.btn-container {
  display: flex;
  justify-content: space-between;
}

/* Error messages */

/* Error message form */
.error-message {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
  border: 1px solid red;
  width: 400px;
  height: auto;
}

.error-outline {
  border: 1px solid red;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 20px;
}

.image-url {
  display: flex;
  justify-content: space-between;
}

#imageIcon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

/*┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
  ┃      Create new blog post section         ┃
  ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛*/
.create-blog-post {
  padding: 20px;
  border-radius: 4px;
  margin: 0 auto;
  box-shadow: 0 0 10px var(--secondary);
  margin-top: 50px;
  max-width: 700px;
}

#submit {
  padding: 10px 20px;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  border: solid white 1px;
}

#submit:hover {
  box-shadow: 0 0 10px var(--secondary);
}

.create-blog-post h1 {
  text-align: center;
  margin-bottom: 20px;
}

/*┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
  ┃                Footer                     ┃
  ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛*/
/* Footer Styles */
.footer-container {
  padding: 20px;
  background-color: var(--footer-color);
  color: var(--text-color);
  text-align: center;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
  filter: drop-shadow(0 0 0.1rem #61dafb);
  display: flex;
  flex-direction: column;
  height: 100%;
}

footer {
  height: 200px;
  margin: 100px 0 0;
}

.footer-item {
  max-width: 70rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.socials a {
  display: inline-block;
  margin: 0 5px;
}

.socials img {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  transition: transform 0.3s ease;
}

.socials a:hover img {
  transform: scale(1.1);
}

.footer-item p {
  font-size: 14px;
  max-width: 600px;
  margin-top: 10px;
}

footer .logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

/*┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
  ┃                Utilities                  ┃
  ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛*/

.flex {
  display: flex;
}
.direction-column {
  flex-direction: column;
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}

/*┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
  ┃             Media Queries                 ┃
  ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛*/

/*┏━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
  ┃   CSS Rules for Tablets   ┃
  ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━┛*/
@media (max-width: 1200px) {
  /* Transition for media query tablet */
  body {
    transition: ease all 0.5s;
  }

  h1,
  .carousel-text h1 {
    font-size: 45px;
    letter-spacing: 0px;
    line-height: 52px;
  }

  h2,
  .carousel-text h2,
  .headline-text {
    font-size: 28px;
    letter-spacing: 0px;
    line-height: 36px;
  }

  p,
  .body-text {
    font-size: 14px;
    letter-spacing: +0.25px;
    line-height: 20px;
  }

  .title-text {
    font-size: 15px;
    letter-spacing: +0.15px;
    line-height: 24px;
  }

  .label-text {
    font-size: 12px;
    letter-spacing: +0.5px;
    line-height: 16px;
  }

  .articles-dashboard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .header-container {
    padding-left: 20px;
    padding-right: 100px;
  }

  footer {
    height: 300px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 100px;
  }

  .profile-info {
    display: none;
  }

  header {
    height: 100px;
    position: sticky;
  }

  main {
    border: none;
    max-width: none;
    padding-left: 20px;
    padding-right: 20px;
  }

  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "item1 item2"
      "item3 item4"
      "item5 item6"
      "item7 item8"
      "item9 item10"
      "item11 item12";
    grid-gap: 20px;
  }

  .hamburger-menu-button,
  .side-menu {
    display: block;
  }

  /* Hamburger menu button styles */
  .hamburger-menu-button {
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    background-color: var(--secondary);
    height: 40px;
    border: none;
    outline: none;
    border-radius: 4px;
    color: white;
  }

  .hamburger-menu-button img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
  }

  /* Side menu styles */
  .side-menu {
    position: fixed;
    top: 0;
    left: -50%;
    width: 50%;
    height: 100%;
    background-color: var(--header-color);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    transition: left 0.3s ease;
    z-index: 1000;
    filter: drop-shadow(0 0 0.1rem #61dafb);
  }

  .side-menu.show {
    left: 0;
  }

  /* No scroll when side menu is active to prevent scrollbar jumping */
  body.no-scroll {
    overflow: hidden;
  }

  /* Side menu content styling */
  .side-menu .navigation {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
  }

  .opacity-blur {
    filter: blur(3px);
    transition: filter 0.3s ease;
  }

  .side-menu .navigation a {
    color: white;
    font-size: 20px;
    padding: 15px;
    text-decoration: none;
    font-family: "Prompt", sans-serif;
  }

  .side-menu .navigation a:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .divider-side-menu {
    height: 1px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
  }

  .side-menu > .navigation {
    margin-bottom: 100px;
  }

  .socials-hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .socials-hamburger img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    transition: transform 0.3s ease;
    padding: 5px;
  }

  .sections-container {
    flex-direction: column;
  }

  .sort-by-container,
  .search-form {
    flex-direction: column;
    align-items: stretch;
  }

  .search-input {
    width: 100%;
  }

  .article-item {
    width: 100%;
  }

  .author-date {
    flex-direction: column;
    gap: 10px;
  }
}

@media (max-width: 700px) {
  /* Transition for media query mobile */
  body {
    transition: ease-in-out all 0.5s;
  }

  .hero-carousel {
    margin-bottom: 0;
  }

  .carousel-nav {
    height: 200px;
  }

  .carousel-nav button {
    height: 50px;
  }

  .article-item {
    flex-direction: column;
  }

  .article-image {
    width: 100%;
  }

  .search {
    flex-direction: column;
    align-items: stretch;
  }

  .search-container {
    width: 100%;
  }

  .articles-dashboard {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }

  .article-item {
    flex-direction: column;
    height: auto;
  }

  .sort,
  .filter {
    flex-direction: column;
  }

  .article-image,
  .article-text {
    width: 100%;
    margin-left: 0;
  }

  .continue-reading-container {
    flex-direction: column;
  }

  .article-image img {
    border-radius: 4px 4px 0 0;
  }

  .hero-carousel {
    margin-bottom: 30px;
  }

  .hero-carousel img {
    object-fit: cover;
  }

  header {
    height: 100px;
  }

  main {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    border-right: none;
  }

  .grid-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      "item1"
      "item2"
      "item3"
      "item4"
      "item5"
      "item6"
      "item7"
      "item8"
      "item9"
      "item10"
      "item11"
      "item12";
    grid-gap: 20px;
  }

  .carousel-container img {
    height: 400px;
  }

  h1 {
    font-size: 36px;
    letter-spacing: 0px;
    line-height: 44px;
  }

  h2 {
    font-size: 24px;
    letter-spacing: 0px;
    line-height: 32px;
  }

  p {
    font-size: 12px;
    letter-spacing: +0.4px;
    line-height: 16px;
  }

  .title-text {
    font-size: 14px;
    letter-spacing: +0.1px;
    line-height: 20px;
  }

  .label-text {
    font-size: 11px;
    letter-spacing: +0.5px;
    line-height: 16px;
  }

  .body-text {
    font-size: 12px;
    letter-spacing: +0.4px;
    line-height: 16px;
  }

  .headline-text {
    font-size: 24px;
    letter-spacing: 0px;
    line-height: 32px;
  }

  .carousel-text h1,
  .carousel-text h2 {
    font-size: 36px;
    letter-spacing: 0px;
    line-height: 44px;
  }

  .top-section .blog-image {
    width: 100%;
    height: 300px;
  }

  .login-container {
    width: 300px;
  }
}
