/* Fonts */

h1,
h2 {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

h1 {
    font-size: 57px;
    letter-spacing: -0.25px;
    line-height: 64px;
}

h2 {
    font-size: 32px;
    letter-spacing: 0px;
    line-height: 40px;
}

.title-text {
    font-family: "Titillium Web", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 22px;
    letter-spacing: 0px;
    line-height: 28px;
}

.label-text {
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    letter-spacing: +0.1px;
    line-height: 20px;

}

.body-text {
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    letter-spacing: +0.5px;
    line-height: 24px;
}
/* Fonts end */

/* Variables */
:root {
    /* Colors */
    --primary: #222831;
    --secondary: #B7ABAB;
    --section-color: rgba(183, 171, 171, 0.3);
    --text-color: white;
    --header-color: #222831;
    --footer-color: #222831;
}

header{
    background-color: var(--header-color);
    border-bottom: 1px solid var(--section-color);
    height: 100px;
    margin-left: 200px;
    margin-right: 200px;
}

/* Container inside the header */
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 20px;
}   

/* Hero section with carousel */
.hero-carousel{
   border: solid white 1px;
   height: 500px;
}

body {
    background-color: var(--primary);
    color: var(--text-color)
}

.grid-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20px 1fr 20px;
    gap: 20px;
    padding: 20px;
    margin-left: 200px;
    margin-right: 200px;
}




/* media queries */
@media (max-width: 1100px) {
    h1 {
        font-size: 45px;
        letter-spacing: 0px;
        line-height: 52px;
    }

    h2 {
        font-size: 28px;
        letter-spacing: 0px;
        line-height: 36px;
    }

    .title-text {
        font-size: 15px;
        letter-spacing: +0.15px;
        line-height: 24px;
    }

    .label-text {
        font-size: 12px;
        letter-spacing: +0.5px;
        line-height: 16px;
    }

    .body-text {
        font-size: 14px;
        letter-spacing: +0.25px;
        line-height: 20px;
    }


}

@media (max-width: 800px) {
    h1 {
        font-size: 36px;
        letter-spacing: 0px;
        line-height: 44px;
    }

    h2 {
        font-size: 24px;
        letter-spacing: 0px;
        line-height: 32px;
    }

    .title-text {
        font-size: 14px;
        letter-spacing: +0.1px;
        line-height: 20px;
    }

    .label-text {
        font-size: 11px;
        letter-spacing: +0.5px;
        line-height: 16px;
    }

    .body-text {
        font-size: 12px;
        letter-spacing: +0.4px;
        line-height: 16px;
    }

}